<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Seguimiento de Solicitudes</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column"> 
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Inicio
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/Calendario">
                <span class="bi bi-calendar-month" aria-hidden="true"></span> Calendario
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/indice-expedientes">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Índice de Expedientes
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/Elim/{id}">
                <span class="bi bi-trash" aria-hidden="true"></span> Eliminar Expedientes
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="counter">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Counter
            </NavLink>
        </div>
                <div class="nav-item px-3">
            <NavLink class="nav-link" href="Obligaciones">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> ???
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Proteccion_de_Datos">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> ???
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
