@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.Authorization

@inject AuthenticationStateProvider AuthenticationStateProvider

@attribute [Authorize]

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/menu">Transparencia</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column"> 
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/menu/modulo-solicitudes" Match="NavLinkMatch.All">@* Match="NavLinkMatch.All" *@
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Modulo Solicitudes
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/menu/modulo-solicitudes/inicio-solicitudes">@* Match="NavLinkMatch.All" *@
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Inicio de Solicitudes
            </NavLink>
        </div>
        @*<div class="nav-item px-3">
            <NavLink class="nav-link" href="/Calendario">
                <span class="bi bi-calendar-month" aria-hidden="true"></span> Calendario
            </NavLink>
        </div>*@
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/menu/modulo-solicitudes/indice-expedientes">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Índice de Solicitudes
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/menu/modulo-solicitudes/historial-solicitudes">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Historial de Solicitudes
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/menu/modulo-solicitudes/Calendario">
                <span class="bi bi-calendar-month" aria-hidden="true"></span> Calendario
            </NavLink>
        </div>
        
        @* botones solo visibles para el administrador *@
        <AuthorizeView Roles="ADMINISTRADOR, Admin">
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="/menu/modulo-solicitudes/CreacionUsuarios">
                    <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Crear Usuarios
                </NavLink>
			  </div>
		
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="/{id?}">
                    <span class="bi bi-trash" aria-hidden="true"></span> Eliminar Solicitudes
                </NavLink>
			 </div>
		</AuthorizeView>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
